<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReAPK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ReAPK.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>FirstRun</value>
            </setting>
            <setting name="Apktool" serializeAs="String">
                <value />
            </setting>
            <setting name="apksigner" serializeAs="String">
                <value />
            </setting>
            <setting name="Cert" serializeAs="String">
                <value />
            </setting>
            <setting name="Key" serializeAs="String">
                <value />
            </setting>
        </ReAPK.Properties.Settings>
    </userSettings>
</configuration>